# <center>MIGRATION MAIN TEMPLATE</center>

## Libraries

In [1]:
import os
import sys

# <center>| - - - - Environment variables Input - - - |</center>

Set all yoyr variables, if ypu need extra help to undertan the inputs, please go to the notebook an made a serch, of the envriomental varieable name

In [2]:
os.environ["path"] = r'C:\Users\Andres Garcia Bayona\Documents\GitHub\PyDev-Operational-Library-For-Data-Engineers'

In [3]:
os.environ["main_folder"] = r'C:\Users\Andres Garcia Bayona\Documents\Training\APIs, CRMs and notebook management\Challenge2'

In [4]:
os.environ["records_folder"] = r'C:\Users\Andres Garcia Bayona\Documents\Training\APIs, CRMs and notebook management\Challenge2'

In [5]:
os.environ["csv_df_name"] = 'contact_collection - C.csv'

In [6]:
os.environ["limit_of_options"] = '30'

In [7]:
os.environ["default_group_name"] = 'contactinformation'

In [8]:
os.environ["source_hubspot_access_token"] = ''

In [9]:
os.environ["source_hubspot_object_type"] = 'contact'

In [10]:
os.environ["r_mapping"] = 'Properties Mapping - R.csv'

In [11]:
os.environ["hubspot_access_token"] = ''

In [12]:
os.environ["hubspot_object_type"] = 'contacts'

In [13]:
os.environ["hubspot_file_name"] = 'qa-all-contacts.csv'

In [14]:
os.environ["frame_unique_key_column_name"] = 'Email'

In [15]:
os.environ["hubspot_unique_key_column_name"] = 'Email'

## Working Path

In [16]:
path = os.getenv('path')
jupyter_w_path_import_modules = path+r'\modules\imports'
jupyter_w_path_hubspot_modules = path+r'\modules\migration-hubspot-to-hubspot'

## 1. Properties Mapping

In [17]:
s_properties_mapping = jupyter_w_path_import_modules+r'\1_Properties_Mapping.ipynb'

In [18]:
s_properties_mapping

'C:\\Users\\Andres Garcia Bayona\\Documents\\GitHub\\PyDev-Operational-Library-For-Data-Engineers\\modules\\imports\\1_Properties_Mapping.ipynb'

In [19]:
%run "C:\\Users\\Andres Garcia Bayona\\Documents\\GitHub\\PyDev-Operational-Library-For-Data-Engineers\\modules\\imports\\1_Properties_Mapping.ipynb"

<span style='color:black;font-weight:bold'>Started Data Read</span>

<span style='color:black;font-weight:bold'>Data Read</span>

<span style='color:black;font-weight:bold'>Running Mapping Function!</span>

C:\Users\Andres Garcia Bayona\Documents\GitHub\PyDev-Operational-Library-For-Data-Engineers\functions\data_analysis\properties_mapping.py:37: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df = df.applymap(delete_unnecessary_blank_spaces)

<span style='color:green;font-weight:bold'>Mapping Completed!</span>

<span style='color:green;font-weight:bold'>File Saved As 'Properties Mapping.csv'</span>

In [20]:
mapping.head(2)

,Source Property Name,Random Value Sample,Must be on HubSpot?,Must be on HubSpot? No Reason,New Suggested Name for HubSpot,Internal Name Suggested for HubSpot,Number of records with values in this property,Options Found,Possible Field Type,Possible Internal Values Type,Possible Internal Field Type,Values related from a foreign Frame?,Foreign file name,Foreign file path,Foreign column name to get values,Foreign column with shared key,Possible Group Name
0,firstname,Carrie,Yes,,Firstname,firstname,6789.0,,Single-line text,string,text,,,,,,contactinformation
1,lastname,Rees,Yes,,Lastname,lastname,6789.0,,Single-line text,string,text,,,,,,contactinformation

In [21]:
df.head(2)

,firstname,lastname,country,phone,training___create_date,industry,address,checkbox,raw_email_id,hs_object_id
0,Carrie,Rees,Dublin,0-045-278-522 ext 25,2021-03-26,Animal feeds,"Boadicea Lane, 1368",True,360,89900742223
1,Esmeralda,York,Oxford,6-866-445-484 ext 85,2021-10-27,Fruit and vegetables,"Norfolk Rue, 5174",True,268,89923835996

## 2. Cross Mapping With Original HubSpot Set-Up

In [22]:
hubspot_cross_mapping = jupyter_w_path_hubspot_modules+r'\hubspot_properties_setup_to_cross_mapping.ipynb'

In [23]:
hubspot_cross_mapping

'C:\\Users\\Andres Garcia Bayona\\Documents\\GitHub\\PyDev-Operational-Library-For-Data-Engineers\\modules\\migration-hubspot-to-hubspot\\hubspot_properties_setup_to_cross_mapping.ipynb'

In [24]:
%run "C:\\Users\\Andres Garcia Bayona\\Documents\\GitHub\\PyDev-Operational-Library-For-Data-Engineers\\modules\\migration-hubspot-to-hubspot\\hubspot_properties_setup_to_cross_mapping.ipynb"

KeyError: 'results'

KeyError: 'results'

In [ ]:
mapping

In [ ]:
mapping

## 3. Update And Create Properties

In [ ]:
create_and_update_properties = jupyter_w_path_import_modules+r'\2_create_and_update_properties.ipynb'

In [ ]:
create_and_update_properties

In [ ]:
%run "C:\\Users\\Andres Garcia Bayona\\Documents\\GitHub\\PyDev-Operational-Library-For-Data-Engineers\\modules\\imports\\2_create_and_update_properties.ipynb"

In [ ]:
mapping_reviewed[mapping_reviewed["Operation State"] != "Success! Set-Up Correctly"]

## 4. Default Transformations

In [25]:
default_transformations = jupyter_w_path_import_modules+r'\3_default_data_transformation.ipynb'

In [26]:
default_transformations

'C:\\Users\\Andres Garcia Bayona\\Documents\\GitHub\\PyDev-Operational-Library-For-Data-Engineers\\modules\\imports\\3_default_data_transformation.ipynb'

In [27]:
%run "C:\\Users\\Andres Garcia Bayona\\Documents\\GitHub\\PyDev-Operational-Library-For-Data-Engineers\\modules\\imports\\3_default_data_transformation.ipynb"

<span style='color:black;font-weight:bold'>Data Transformations Started</span>

<span style='color:green;font-weight:bold'>Renamed Columns Done</span>

<span style='color:black;font-weight:bold'>Columns To Delete</span>

[]

<span style='color:green;font-weight:bold'>Eliminated Columns Done:</span>

<span style='color:black;font-weight:bold'>Fix Format for Date Columns</span>

Fix Completed For: Training Create Date

<span style='color:green;font-weight:bold'>Fixed Dates Columns</span>

<span style='color:black;font-weight:bold'>Fix Single checkbox Columns</span>

Fix Completed For: Checkbox

<span style='color:green;font-weight:bold'>Fixed Checkbox Columns</span>

<span style='color:black;font-weight:bold'>Fix Mutiplecheck boxColumns</span>

Fix Completed For: Industry

<span style='color:green;font-weight:bold'>Fixed Multiple-Checkbox Columns</span>

## 5. Bring Relational Tables Values

In [28]:
bring_relational_tables_values = jupyter_w_path_import_modules+r'\4_bring_relational_tables_values.ipynb'

In [29]:
bring_relational_tables_values

'C:\\Users\\Andres Garcia Bayona\\Documents\\GitHub\\PyDev-Operational-Library-For-Data-Engineers\\modules\\imports\\4_bring_relational_tables_values.ipynb'

In [30]:
%run "C:\\Users\\Andres Garcia Bayona\\Documents\\GitHub\\PyDev-Operational-Library-For-Data-Engineers\\modules\\imports\\4_bring_relational_tables_values.ipynb"

Loop # 0
Keys Processed as Int
Process start!
Process successfully completed!

In [31]:
from transformations import extract_email

df['Email'] = df['Email'].apply(extract_email)

In [32]:
df.to_csv('../Challenge2/File To Import.csv', index=False)

## 6. Detect Invalid Emails

In [33]:
detect_invalid_emails = jupyter_w_path_import_modules+r'\detect_invalid_emails.ipynb'

In [34]:
detect_invalid_emails

'C:\\Users\\Andres Garcia Bayona\\Documents\\GitHub\\PyDev-Operational-Library-For-Data-Engineers\\modules\\imports\\detect_invalid_emails.ipynb'

In [35]:
%run "C:\\Users\\Andres Garcia Bayona\\Documents\\GitHub\\PyDev-Operational-Library-For-Data-Engineers\\modules\\imports\\detect_invalid_emails.ipynb"

In [36]:
records_invalid_emails['Email']

Series([], Name: Email, dtype: object)

## 7. Duplicates Managment

In [37]:
duplicate_managment = jupyter_w_path_import_modules+r'\duplicate_managment_add_email_alias.ipynb'

In [38]:
duplicate_managment

'C:\\Users\\Andres Garcia Bayona\\Documents\\GitHub\\PyDev-Operational-Library-For-Data-Engineers\\modules\\imports\\duplicate_managment_add_email_alias.ipynb'

In [39]:
%run "C:\\Users\\Andres Garcia Bayona\\Documents\\GitHub\\PyDev-Operational-Library-For-Data-Engineers\\modules\\imports\\duplicate_managment_add_email_alias.ipynb"

279 Duplicated Records Found
✔ Frame Free Of Duplicates

In [40]:
duplicates_frame['Email']

6131          tyson_newman1021718471@yahoo.com
6675          tyson_newman1021718471@yahoo.com
6665          tyson_newman1021718471@yahoo.com
6058          tyson_newman1021718471@yahoo.com
5062    sebastian_parker1458479109@joiniaa.com
                         ...
907             alan_warner22954315@fuliss.net
2824            alan_warner22954315@fuliss.net
2997            alan_warner22954315@fuliss.net
279             alan_warner22954315@fuliss.net
192             alan_warner22954315@fuliss.net
Name: Email, Length: 279, dtype: object

In [41]:
df

,First Name,Last Name,Country/Region,Phone Number,Training Create Date,Industry,Street Address,Checkbox,Email,Temporary ID,Email Validation,Original Email
0,Carrie,Rees,Dublin,0-045-278-522 ext 25,2021-03-26,Animal feeds,"Boadicea Lane, 1368",Yes,carrie_rees1243518944@tonsy.org,89900742223,Valid,NaN
1,Esmeralda,York,Oxford,6-866-445-484 ext 85,2021-10-27,Fruit and vegetables,"Norfolk Rue, 5174",Yes,esmeralda_york235096819@ubusive.com,89923835996,Valid,NaN
2,Javier,Ogilvy,Limerick,4-330-564-786 ext 2,2021-05-10,Animal feeds,"Walnut Route, 8868",Yes,javier_ogilvy1286833203@sveldo.biz,89926039813,Valid,NaN
3,Payton,Becker,Cork,4-822-073-186 ext 19,2021-07-31,Meat,"Thomas More Walk, 6363",Yes,payton_becker94954582@acrit.org,89931282301,Valid,NaN
4,Aeris,Clarke,Winchester,0-206-223-571 ext 60,2021-02-07,Poultry and fish,"Baylis Avenue, 5446",Yes,aeris_clarke836034276@qater.org,89923178834,Valid,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
6931,Alan,Warner,England,7-260-282-170 ext 87,2021-04-28,Meat,"Bede Avenue, 4773",Yes,alan_warner22954315@fuliss.net,89929492338,Valid,alan_warner22954315@fuliss.net
6932,Alan,Warner,England,7-260-282-170 ext 2,2021-03-04,Poultry and fish,"Cedarne Vale, 145",Yes,alan_warner22954315+101@fuliss.net,89922872760,Valid,alan_warner22954315@fuliss.net
6933,,,England,,2021-08-08,Bakery products,"Timothy Lane, 7367",Yes,alan_warner22954315+102@fuliss.net,89924828747,Valid,alan_warner22954315@fuliss.net
6934,,,England,7-260-282-170 ext 44,2021-12-06,Bakery products,"Chartham Tunnel, 2674",Yes,alan_warner22954315+103@fuliss.net,89922428342,Valid,alan_warner22954315@fuliss.net
6935,,,England,,2021-05-28,Fruit and vegetables,"Vincent Drive, 874",Yes,alan_warner22954315+104@fuliss.net,89922983299,Valid,alan_warner22954315@fuliss.net

## 8. Find Record ID

In [42]:
find_record_id = jupyter_w_path_import_modules+r'\find_record_id.ipynb'

In [43]:
find_record_id

'C:\\Users\\Andres Garcia Bayona\\Documents\\GitHub\\PyDev-Operational-Library-For-Data-Engineers\\modules\\imports\\find_record_id.ipynb'

In [44]:
%run "C:\\Users\\Andres Garcia Bayona\\Documents\\GitHub\\PyDev-Operational-Library-For-Data-Engineers\\modules\\imports\\find_record_id.ipynb"

IDs Processed as String
Process start!
Process successfully completed!
WARNING: The key is no unique, please review before continue.

C:\Users\Andres Garcia Bayona\Documents\GitHub\PyDev-Operational-Library-For-Data-Engineers\functions\find_hubspot_id\find_hubspot_record_id_by_unique_key.py:63: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  hubspot_data.insert(0, 'Foreign Values', '')

In [45]:
df['HubSpot Record ID']

0
1       132628438581
2                NaN
3                NaN
4                NaN
            ...
6931             NaN
6932             NaN
6933             NaN
6934             NaN
6935             NaN
Name: HubSpot Record ID, Length: 6936, dtype: object

In [46]:
df = df.replace(np.nan, '')

In [47]:
df.loc[df['HubSpot Record ID'] != '']

,Checkbox,Country/Region,Email,Email Validation,First Name,HubSpot Record ID,Industry,Last Name,Original Email,Phone Number,Street Address,Temporary ID,Training Create Date
1,Yes,,tyson_newman1021718471@yahoo.com,Valid,,132628438581,Poultry and fish,,tyson_newman1021718471@yahoo.com,,"Blake Grove, 4981",89917963693,2021-03-04

## a. Country Recognition

| Give the array with unique values in "Country/Region"

In [48]:
unique_countries = df['Country/Region'].head(100).dropna().unique()
print(unique_countries)

['Dublin' '' 'Oxford' 'Limerick' 'Cork' 'Winchester' 'Plymouth'
 'Milton Keynes' 'London' 'Waterford' 'England' 'Ireland']

In [49]:
df['Country/Region'].unique()

array(['Dublin', '', 'Oxford', 'Limerick', 'Cork', 'Winchester',
       'Plymouth', 'Milton Keynes', 'London', 'Waterford', 'England',
       'Ireland'], dtype=object)

In [ ]:
from transformations import country_recognition
import pandas as pd

df['Country/Region Raw'] = df['Country/Region']

df[['Country/Region', 'City']] = df['Country/Region Raw'].apply(
    lambda x: pd.Series(country_recognition(x))
)

df[['country_found', 'city_found']] = df['Country/Region Raw'].apply(
    lambda x: pd.Series(country_recognition(x))
)
df['Known City'] = df['city_found'].apply(lambda x: bool(x and x.strip()))

if 'Country/Region Raw' in df.columns:
    df.drop(columns=['Country/Region Raw'], inplace=True)

In [56]:
df['Country/Region'].unique()

array(['Ireland', '', 'England'], dtype=object)

In [57]:
df['country_found'].unique()

array(['Ireland', '', 'England'], dtype=object)

In [58]:
df['city_found'].unique()

array(['Dublin', '', 'Oxford', 'Limerick', 'Cork', 'Winchester',
       'Plymouth', 'Milton Keynes', 'London', 'Waterford'], dtype=object)

## b. Fix Phone Numbers

In [52]:
from transformations import format_phone
import re

df[['Phone Number', 'Extension']] = df.apply(
    lambda row: pd.Series(format_phone(str(row['Phone Number']), str(row['country_found']))), axis=1
)
df['Phone Number'] = df['Phone Number'].str.strip()
df['Extension'] = df['Extension'].str.strip()

## c. Fixing Industry options

In [53]:
from transformations import fix_industry_multicheck

df['Industry'] = df['Industry'].apply(fix_industry_multicheck)

In [54]:
df

,Checkbox,Country/Region,Email,Email Validation,First Name,HubSpot Record ID,Industry,Last Name,Original Email,Phone Number,Street Address,Temporary ID,Training Create Date,City,country_found,city_found,Known City,Extension
0,Yes,Ireland,carrie_rees1243518944@tonsy.org,Valid,Carrie,,Animal feeds,Rees,,+(353)4527 8522,"Boadicea Lane, 1368",89900742223,2021-03-26,Dublin,Ireland,Dublin,True,ext 25
1,Yes,,tyson_newman1021718471@yahoo.com,Valid,,132628438581,Poultry;Fish,,tyson_newman1021718471@yahoo.com,,"Blake Grove, 4981",89917963693,2021-03-04,,,,False,
2,Yes,England,esmeralda_york235096819@ubusive.com,Valid,Esmeralda,,Fruit;Vegetables,York,,+(44)6866 445484,"Norfolk Rue, 5174",89923835996,2021-10-27,Oxford,England,Oxford,True,ext 85
3,Yes,Ireland,javier_ogilvy1286833203@sveldo.biz,Valid,Javier,,Animal feeds,Ogilvy,,+(353)4330 564786,"Walnut Route, 8868",89926039813,2021-05-10,Limerick,Ireland,Limerick,True,ext 2
4,Yes,Ireland,payton_becker94954582@acrit.org,Valid,Payton,,Meat,Becker,,+(353)4822 073186,"Thomas More Walk, 6363",89931282301,2021-07-31,Cork,Ireland,Cork,True,ext 19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6931,Yes,England,alan_warner22954315@fuliss.net,Valid,Alan,,Meat,Warner,alan_warner22954315@fuliss.net,+(44)7260 282170,"Bede Avenue, 4773",89929492338,2021-04-28,,England,,False,ext 87
6932,Yes,England,alan_warner22954315+101@fuliss.net,Valid,Alan,,Poultry;Fish,Warner,alan_warner22954315@fuliss.net,+(44)7260 282170,"Cedarne Vale, 145",89922872760,2021-03-04,,England,,False,ext 2
6933,Yes,England,alan_warner22954315+102@fuliss.net,Valid,,,Bakery products,,alan_warner22954315@fuliss.net,,"Timothy Lane, 7367",89924828747,2021-08-08,,England,,False,
6934,Yes,England,alan_warner22954315+103@fuliss.net,Valid,,,Bakery products,,alan_warner22954315@fuliss.net,+(44)7260 282170,"Chartham Tunnel, 2674",89922428342,2021-12-06,,England,,False,ext 44
6935,Yes,England,alan_warner22954315+104@fuliss.net,Valid,,,Fruit;Vegetables,,alan_warner22954315@fuliss.net,,"Vincent Drive, 874",89922983299,2021-05-28,,England,,False,

# Save File

In [55]:
df.to_csv(main_folder+r'\File To Import.csv', index = False)