# Automatic Record Merge in HubSpot

Nosotros realizamos un merge automatico de registros en HubSpot mediante la implementación de la herramienta de "Merge records" de HubSpot, por lo cual el merge se rige bajo las siguientes normas:

**Doc:** https://knowledge.hubspot.com/crm-setup/merge-records

Esta implementación de la herramienta de HubSpot la realizamo a traves de la API.

Este codigo trabaja haciendo uso del "Key" de los duplicados que obtenemos despues de implementar las funciones de encontrar duplicados.

# Set environment variables

In [22]:
import os

In [ ]:
os.environ["path"] = r'C:\Users\Andres Garcia Bayona\Documents\Github\PyDev-Operational-Library-For-Data-Engineers'
os.environ["access_token"] = ''
os.environ["records_object_type"] = 'contacts'
os.environ["file_path"] = r'C:\Users\Andres Garcia Bayona\Documents\Training\APIs, CRMs and notebook management\Challenge3'
os.environ["file_name"] = 'Duplicate Contact Records Found by Phone Number.xlsx'

## Libraries

In [24]:
import requests
import json

import pandas as pd
import numpy as np

from IPython.display import Markdown, display
def printmd(string):
    display(Markdown(string))

from IPython.display import display, HTML, clear_output

#### Data team library

Your library path

In [25]:
path = os.getenv('path')

In [26]:
import sys
sys.path.insert(0,path)

from functions.data_transformations.delete_unnecessary_blank_spaces import delete_unnecessary_blank_spaces

## Parameters - Input Values

#### Access API

In [27]:
access_token = os.getenv('access_token') # Input

headers = {'Content-Type': 'application/json',
            'authorization': 'Bearer {}'.format(access_token)}

#### Info Records

In [28]:
records_object_type = os.getenv('records_object_type')

#### Frame

In [29]:
file_path = os.getenv('file_path')

In [30]:
file_name = os.getenv('file_name')

In [31]:
df = pd.read_excel(file_path+'\\'+file_name)

In [32]:
df = df.replace(np.nan, '')

In [33]:
printmd("<h3><span style='color:blue'>You will work with {} records</span></h3>".format(len(df)))

<h3><span style='color:blue'>You will work with 113 records</span></h3>

In [34]:
df.head(5)

,Unnamed: 0,Record ID,First Name,Last Name,Email,Phone Number,Street Address,Record View,Key
0,6772,134659261811,Tyson,Newman,,+(353)6835 027381,"Eldon Lane, 7122",https://app.hubspot.com/contacts/50189227/reco...,tysonnewman6835027381
1,2023,134628036652,Tyson,Newman,,+(353)6835 027381,"Balham Vale, 5116",https://app.hubspot.com/contacts/50189227/reco...,tysonnewman6835027381
2,387,134626306081,Tyson,Newman,tyson_newman1021718471+103@yahoo.com,+(353)6835 027381,"Apollo Crossroad, 6027",https://app.hubspot.com/contacts/50189227/reco...,tysonnewman6835027381
3,488,134630045254,Sebastian,Parker,sebastian_parker1458479109@joiniaa.com,+(44)5517 227040,"Bales Grove, 8324",https://app.hubspot.com/contacts/50189227/reco...,sebastianparker5517227040
4,654,134660841279,Sebastian,Parker,sebastian_parker1458479109+102@joiniaa.com,+(44)5517 227040,"Arbutus Crossroad, 4836",https://app.hubspot.com/contacts/50189227/reco...,sebastianparker5517227040

## Empty Keys

Vamos a realizar una pequeña revisión de las Keys, no debe existir ninguna key que este en blanco, realizar un merge de registros con keys vacias podria incluso eliminar bases de datos completas.

In [35]:
df['Key'] = df['Key'].apply(delete_unnecessary_blank_spaces)

In [36]:
detect_empty_keys = df.loc[df['Key'] == '']

if len(detect_empty_keys) != 0:
    printmd("<h3><span style='color:red'>There are keys configured as empty</span></h3> please check these keys that are empty [''], otherwise you will end up making merges that should not be made.")
else:
     printmd("<h3><span style='color:green'>Keys are properly configured</span></h3> Go ahead!")

<h3><span style='color:green'>Keys are properly configured</span></h3> Go ahead!

In [37]:
detect_empty_keys

Empty DataFrame
Columns: [Unnamed: 0, Record ID, First Name, Last Name, Email, Phone Number, Street Address, Record View, Key]
Index: []

## Define number of duplicates

En esta longitud de valores seremos capaces de recorrer todo el frame de duplicados, obteniendo todas las key unicas que nos señalan los duplicados.

In [38]:
df = df.sort_values(['Key','Email'],ascending=[False, False])
df

,Unnamed: 0,Record ID,First Name,Last Name,Email,Phone Number,Street Address,Record View,Key
2,387,134626306081,Tyson,Newman,tyson_newman1021718471+103@yahoo.com,+(353)6835 027381,"Apollo Crossroad, 6027",https://app.hubspot.com/contacts/50189227/reco...,tysonnewman6835027381
0,6772,134659261811,Tyson,Newman,,+(353)6835 027381,"Eldon Lane, 7122",https://app.hubspot.com/contacts/50189227/reco...,tysonnewman6835027381
1,2023,134628036652,Tyson,Newman,,+(353)6835 027381,"Balham Vale, 5116",https://app.hubspot.com/contacts/50189227/reco...,tysonnewman6835027381
3,488,134630045254,Sebastian,Parker,sebastian_parker1458479109@joiniaa.com,+(44)5517 227040,"Bales Grove, 8324",https://app.hubspot.com/contacts/50189227/reco...,sebastianparker5517227040
5,646,134626787677,Sebastian,Parker,sebastian_parker1458479109+104@joiniaa.com,+(44)5517 227040,"Dutton Boulevard, 4639",https://app.hubspot.com/contacts/50189227/reco...,sebastianparker5517227040
...,...,...,...,...,...,...,...,...,...
107,6329,134627262863,Anthony,Sinclair,,+(353)3505 033457,"Besson Rue, 4781",https://app.hubspot.com/contacts/50189227/reco...,anthonysinclair3505033457
108,6528,134660566423,Anthony,Sinclair,,+(353)3505 033457,"Chatsworth Grove, 8137",https://app.hubspot.com/contacts/50189227/reco...,anthonysinclair3505033457
110,6701,134628036517,Anthony,Sinclair,,+(353)3505 033457,"Baylis Grove, 980",https://app.hubspot.com/contacts/50189227/reco...,anthonysinclair3505033457
112,1008,134630809652,Alan,Warner,alan_warner22954315@fuliss.net,+(44)7260 282170,"Bede Avenue, 4773",https://app.hubspot.com/contacts/50189227/reco...,alanwarner7260282170
111,966,134626631520,Alan,Warner,alan_warner22954315+101@fuliss.net,+(44)7260 282170,"Cedarne Vale, 145",https://app.hubspot.com/contacts/50189227/reco...,alanwarner7260282170

In [39]:
duplicates = df.drop_duplicates(subset=['Key'])
duplicates = duplicates.reset_index(drop=True)

In [40]:
duplicates

,Unnamed: 0,Record ID,First Name,Last Name,Email,Phone Number,Street Address,Record View,Key
0,387,134626306081,Tyson,Newman,tyson_newman1021718471+103@yahoo.com,+(353)6835 027381,"Apollo Crossroad, 6027",https://app.hubspot.com/contacts/50189227/reco...,tysonnewman6835027381
1,488,134630045254,Sebastian,Parker,sebastian_parker1458479109@joiniaa.com,+(44)5517 227040,"Bales Grove, 8324",https://app.hubspot.com/contacts/50189227/reco...,sebastianparker5517227040
2,1151,134631191657,Ryan,Welsch,ryan_welsch107397896+104@famism.biz,+(44)2778 635604,"Collingwood Road, 454",https://app.hubspot.com/contacts/50189227/reco...,ryanwelsch2778635604
3,377,134634171809,Ryan,Upsdell,ryan_upsdell175534425@vetan.org,+(44)3084 734307,"Bury Rue, 5932",https://app.hubspot.com/contacts/50189227/reco...,ryanupsdell3084734307
4,1047,134654791805,Rocco,Palmer,rocco_palmer160419466@infotech44.tech,+(44)2813 405223,"Bagford Hill, 4868",https://app.hubspot.com/contacts/50189227/reco...,roccopalmer2813405223
5,153,134627351992,Rocco,Martin,rocco_martin507925367@eirey.tech,+(44)6084 412351,"Wager Street, 6624",https://app.hubspot.com/contacts/50189227/reco...,roccomartin6084412351
6,1072,134654869508,Ramon,Preston,ramon_preston2096761104+103@sheye.org,+(353)4308 156553,"Dyott Vale, 9007",https://app.hubspot.com/contacts/50189227/reco...,ramonpreston4308156553
7,635,134628635934,Phillip,Cooper,phillip_cooper2140654386+104@jiman.org,+(44)6020 264200,"Argyle Lane, 9868",https://app.hubspot.com/contacts/50189227/reco...,phillipcooper6020264200
8,353,134630045257,Owen,Wigley,owen_wigley177952980@extex.org,+(353)8027 13401,"Elystan Drive, 8938",https://app.hubspot.com/contacts/50189227/reco...,owenwigley802713401
9,1061,134656593521,Noah,Tanner,noah_tanner17953585+103@acrit.org,+(44)3156 686087,"Walnut Vale, 1387",https://app.hubspot.com/contacts/50189227/reco...,noahtanner3156686087
10,183,134626306083,Nate,Roth,nate_roth902590743@liret.org,+(353)6807 838610,"Monroe Road, 4532",https://app.hubspot.com/contacts/50189227/reco...,nateroth6807838610
11,937,134626230437,Michael,Veale,michael_veale472491137+105@gembat.biz,+(44)1817 27057,"Archery Street, 1509",https://app.hubspot.com/contacts/50189227/reco...,michaelveale181727057
12,127,134634171814,Matthew,Fowler,matthew_fowler696833773+103@kideod.biz,+(44)7733 138312,"Caslon Tunnel, 4352",https://app.hubspot.com/contacts/50189227/reco...,matthewfowler7733138312
13,1055,134658262369,Mason,Redfern,mason_redfern1913258047+101@extex.org,+(44)3073 480524,"Catherine Pass, 1830",https://app.hubspot.com/contacts/50189227/reco...,masonredfern3073480524
14,7,134660466573,Leroy,Harris,leroy_harris84853752@bulaffy.com,+(44)7771 717555,"Paris Street, 2550",https://app.hubspot.com/contacts/50189227/reco...,leroyharris7771717555
15,1717,134658430878,Leroy,Dwyer,leroy_dwyer505528803@brety.org,+(353)2004 788350,"Cavell Street, 7744",https://app.hubspot.com/contacts/50189227/reco...,leroydwyer2004788350
16,159,134630149520,Julius,Corbett,julius_corbett117840293+104@jiman.org,+(44)3628 508743,"West Walk, 6366",https://app.hubspot.com/contacts/50189227/reco...,juliuscorbett3628508743
17,232,134626108968,Julian,Farrow,julian_farrow1141858439@gembat.biz,+(353)6726 53357,"Andrews Alley, 1970",https://app.hubspot.com/contacts/50189227/reco...,julianfarrow672653357
18,120,134626150794,Julian,Bell,julian_bell2037709199+103@bauros.biz,+(44)4310 487058,"Caxton Way, 1398",https://app.hubspot.com/contacts/50189227/reco...,julianbell4310487058
19,1006,134660466548,Johnathan,Campbell,johnathan_campbell236114447+104@typill.biz,+(353)5126 006674,"Yorkshire Avenue, 4759",https://app.hubspot.com/contacts/50189227/reco...,johnathancampbell5126006674
20,986,134627220482,Jack,Nobbs,jack_nobbs214667606@supunk.biz,+(44)1043 56031,"Union Pass, 9912",https://app.hubspot.com/contacts/50189227/reco...,jacknobbs104356031
21,1024,134634171802,Harry,Tutton,harry_tutton509901574@typill.biz,+(44)7425 2015,"Thorndike Route, 5913",https://app.hubspot.com/contacts/50189227/reco...,harrytutton4474252015
22,155,134626306084,Hank,Roberts,hank_roberts1808907109+104@twipet.com,+(44)1655 221211,"Sheringham Route, 2097",https://app.hubspot.com/contacts/50189227/reco...,hankroberts1655221211
23,21,134657625728,George,Radcliffe,george_radcliffe235655210@nanoff.biz,+(44)5544 338442,"Elf Grove, 736",https://app.hubspot.com/contacts/50189227/reco...,georgeradcliffe5544338442
24,944,134660466549,Ethan,Reynolds,ethan_reynolds1948188016+103@fuliss.net,+(44)4445 265420,"Mariner Road, 5893",https://app.hubspot.com/contacts/50189227/reco...,ethanreynolds4445265420
25,591,134632497515,Erick,Holt,erick_holt2014841980@ovock.tech,+(353)4116 362857,"Bales Drive, 1780",https://app.hubspot.com/contacts/50189227/reco...,erickholt4116362857
26,945,134658430890,Eduardo,Long,eduardo_long1683975626+101@bretoux.com,+(353)5850 843832,"Bacon Lane, 3421",https://app.hubspot.com/contacts/50189227/reco...,eduardolong5850843832
27,1053,134659072260,Eduardo,Glynn,eduardo_glynn1811301568+102@tonsy.org,+(44)3045 348838,"Virgil Tunnel, 5044",https://app.hubspot.com/contacts/50189227/reco...,eduardoglynn3045348838
28,158,134626631529,Denis,Boyle,denis_boyle1570473023@gompie.com,+(44)6678 565525,"Clarks Alley, 4115",https://app.hubspot.com/contacts/50189227/reco...,denisboyle6678565525
29,1005,134626631518,Clint,Yard,clint_yard287681084@iatim.tech,+(44)7204 236315,"Chambers Street, 97",https://app.hubspot.com/contacts/50189227/reco...,clintyard7204236315
30,2,134626787689,Chester,Windsor,chester_windsor1604043110+107@extex.org,+(353)8318 086458,"Marischal Route, 3412",https://app.hubspot.com/contacts/50189227/reco...,chesterwindsor8318086458
31,75,134657273268,Chad,Paterson,chad_paterson2093044322@typill.biz,+(44)4454 480214,"Rivervalley Tunnel, 1160",https://app.hubspot.com/contacts/50189227/reco...,chadpaterson4454480214
32,1602,134610766009,Bryon,James,bryon_james964377164+105@gompie.com,+(353)4240 711356,"Antrobus Lane, 5310",https://app.hubspot.com/contacts/50189227/reco...,bryonjames4240711356
33,435,134633702762,Brad,Turner,brad_turner714061428+101@bretoux.com,+(44)7012 324125,"Dyott Alley, 6300",https://app.hubspot.com/contacts/50189227/reco...,bradturner7012324125
34,238,134660428054,Brad,Nash,brad_nash201967772@ovock.tech,+(44)2737 182784,"Blue Anchor Lane, 3001",https://app.hubspot.com/contacts/50189227/reco...,bradnash2737182784
35,160,134626230450,Brad,Casey,brad_casey91675552@extex.org,+(44)7736 458868,"Epworth Rue, 3508",https://app.hubspot.com/contacts/50189227/reco...,bradcasey7736458868
36,564,134654869516,Bart,Lyon,bart_lyon420184376+105@acrit.org,+(353)8027 580538,"Cephas Road, 2422",https://app.hubspot.com/contacts/50189227/reco...,bartlyon8027580538
37,395,134631191666,Barry,Ryan,barry_ryan1600445419+103@twace.org,+(44)2742 575850,"Boleyn Drive, 2714",https://app.hubspot.com/contacts/50189227/reco...,barryryan2742575850
38,1578,134633475758,Anthony,Sinclair,anthony_sinclair1094808725+102@bungar.biz,+(353)3505 033457,"Arctic Lane, 9179",https://app.hubspot.com/contacts/50189227/reco...,anthonysinclair3505033457
39,1008,134630809652,Alan,Warner,alan_warner22954315@fuliss.net,+(44)7260 282170,"Bede Avenue, 4773",https://app.hubspot.com/contacts/50189227/reco...,alanwarner7260282170

In [41]:
df

,Unnamed: 0,Record ID,First Name,Last Name,Email,Phone Number,Street Address,Record View,Key
2,387,134626306081,Tyson,Newman,tyson_newman1021718471+103@yahoo.com,+(353)6835 027381,"Apollo Crossroad, 6027",https://app.hubspot.com/contacts/50189227/reco...,tysonnewman6835027381
0,6772,134659261811,Tyson,Newman,,+(353)6835 027381,"Eldon Lane, 7122",https://app.hubspot.com/contacts/50189227/reco...,tysonnewman6835027381
1,2023,134628036652,Tyson,Newman,,+(353)6835 027381,"Balham Vale, 5116",https://app.hubspot.com/contacts/50189227/reco...,tysonnewman6835027381
3,488,134630045254,Sebastian,Parker,sebastian_parker1458479109@joiniaa.com,+(44)5517 227040,"Bales Grove, 8324",https://app.hubspot.com/contacts/50189227/reco...,sebastianparker5517227040
5,646,134626787677,Sebastian,Parker,sebastian_parker1458479109+104@joiniaa.com,+(44)5517 227040,"Dutton Boulevard, 4639",https://app.hubspot.com/contacts/50189227/reco...,sebastianparker5517227040
...,...,...,...,...,...,...,...,...,...
107,6329,134627262863,Anthony,Sinclair,,+(353)3505 033457,"Besson Rue, 4781",https://app.hubspot.com/contacts/50189227/reco...,anthonysinclair3505033457
108,6528,134660566423,Anthony,Sinclair,,+(353)3505 033457,"Chatsworth Grove, 8137",https://app.hubspot.com/contacts/50189227/reco...,anthonysinclair3505033457
110,6701,134628036517,Anthony,Sinclair,,+(353)3505 033457,"Baylis Grove, 980",https://app.hubspot.com/contacts/50189227/reco...,anthonysinclair3505033457
112,1008,134630809652,Alan,Warner,alan_warner22954315@fuliss.net,+(44)7260 282170,"Bede Avenue, 4773",https://app.hubspot.com/contacts/50189227/reco...,alanwarner7260282170
111,966,134626631520,Alan,Warner,alan_warner22954315+101@fuliss.net,+(44)7260 282170,"Cedarne Vale, 145",https://app.hubspot.com/contacts/50189227/reco...,alanwarner7260282170

## Merge Records

In [42]:
for i in range(0, len(duplicates)):
    
    clear_output(wait=True)
    
    print('Loop # {} of {}'.format(i, len(duplicates)-1))
    
    ## Our key to detect duplicates
    key = duplicates.at[i, 'Key']
    
    ## Find Duplicates Frame
    mini = df.loc[(df['Key'] == key)]
    
    ## To select the newest or oldest record as primary_record_id [ascending=True/False]
    #mini = mini.sort_values(by='Create Date', ascending=True) 
    mini = mini.reset_index(drop=True)
    
    # # # Loop for merging
    primary_record_id = int(mini.at[0, 'Record ID']) # Start record
    
    for j in range(1, len(mini)): #Start in 1 because primary_record_id will be the first [i = 0] in the start
        
        to_merge_record_id = int(mini.at[j, 'Record ID'])
        
        payload = json.dumps({'primaryObjectId': primary_record_id,
                              'objectIdToMerge': to_merge_record_id})
        
        url = 'https://api.hubapi.com/crm/v3/objects/{}/merge'.format(records_object_type)
        
        api_response = requests.request("POST", url, data=payload, headers=headers)
        
        ## El resultado del merge es un nuevo registro con un nuevo ID, este se convierte en el primary_record_id
        primary_record_id = api_response.json()['id']
        
        print('Merge # {} - Merging {} into {}'.format(j, to_merge_record_id, primary_record_id))
        print(api_response)
        
    # break ## Puse este break-loop_i para que revise el primer resultado que le dio - recuerde que desmerge no hay

Loop # 39 of 39
Merge # 1 - Merging 134626631520 into 134634186001
<Response [200]>

In [45]:
for i in range(0, len(duplicates)):
    
    clear_output(wait=True)
    
    print('Loop # {} of {}'.format(i, len(duplicates)-1))
    
    ## Our key to detect duplicates
    key = duplicates.at[i, 'Key']
    
    ## Find Duplicates Frame
    mini = df.loc[(df['Key'] == key)]
    
    ## To select the newest or oldest record as primary_record_id [ascending=True/False]
    #mini = mini.sort_values(by='Create Date', ascending=True) 
    mini = mini.reset_index(drop=True)
    
    # # # Loop for merging
    primary_record_id = int(mini.at[0, 'Record ID']) # Start record
    
    for j in range(1, len(mini)): #Start in 1 because primary_record_id will be the first [i = 0] in the start
        
        to_merge_record_id = int(mini.at[j, 'Record ID'])
        
        payload = json.dumps({'primaryObjectId': primary_record_id,
                              'objectIdToMerge': to_merge_record_id})
        
        url = 'https://api.hubapi.com/crm/v3/objects/{}/merge'.format(records_object_type)
        
        api_response = requests.request("POST", url, data=payload, headers=headers)
        
        ## El resultado del merge es un nuevo registro con un nuevo ID, este se convierte en el primary_record_id
        primary_record_id = api_response.json()['id']
        
        print('Merge # {} - Merging {} into {}'.format(j, to_merge_record_id, primary_record_id))
        print(api_response)
        
    # break ## Puse este break-loop_i para que revise el primer resultado que le dio - recuerde que desmerge no hay

Loop # 0 of 39

KeyError: 'id'