### Libraries

In [1]:
import pandas as pd
import numpy as np

In [2]:
import os

os.environ["path"] = r'C:\Users\Andres Garcia Bayona\Documents\Github\PyDev-Operational-Library-For-Data-Engineers'

os.environ["records_folder"] = r'C:\Users\Andres Garcia Bayona\Documents\Training\APIs, CRMs and notebook management\Challenge3'
os.environ["df_file_name"] = 'all-contacts.csv'
os.environ["account_id"] = '50189227'
os.environ["add_hubspot_records_view"] = 'Yes'

# It is not necessary to fill in all of the following fields
os.environ["full_name_column_name"] = 'Full Name'
os.environ["phone_number_column_name"] = 'Phone Number' # could be empty ''
os.environ["mobile_phone_number_column_name"] = 'Mobile Phone Number' # could be empty ''
os.environ["street_address_column_name"] = 'Street Address' # could be empty ''
os.environ["list_of_columns"] = ''#'Company Domain Name' # could be empty '' or several properties separed with a ; 'Company Domain;Phone Number'

### Data Team Libraries

In [3]:
path = os.getenv('path')

In [4]:
import sys
sys.path.insert(0,path)

from functions.manage_duplicates.find_duplicate_contacts_by_name_and_phone import find_duplicate_contacts_by_name_and_phone
from functions.manage_duplicates.find_duplicate_contacts_by_specified_fields import find_duplicate_contacts_by_specified_fields
from functions.data_transformations.delete_unnecessary_blank_spaces import delete_unnecessary_blank_spaces

from functions.manage_duplicates.standardize_data.standardize_contacts_full_name import standardize_contacts_full_name

## Input Data Frame

In [5]:
file_path = os.getenv('records_folder')

In [6]:
df = pd.read_csv(file_path+'//'+os.getenv('df_file_name'), low_memory=False)

#### Standarize empty spaces

In [7]:
df = df.replace(np.nan, '')

### If Name is split in two fields

In [8]:
full_name_column = os.getenv('full_name_column_name')

In [9]:
df[full_name_column] = df['First Name'] + ' ' + df['Last Name']

df[full_name_column] = df[full_name_column].apply(delete_unnecessary_blank_spaces)

C:\Users\Andres Garcia Bayona\AppData\Local\Temp\ipykernel_10044\1354254860.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[full_name_column] = df['First Name'] + ' ' + df['Last Name']

In [10]:
df['Standardized Full Name'] = df['Full Name'].apply(standardize_contacts_full_name)

C:\Users\Andres Garcia Bayona\AppData\Local\Temp\ipykernel_10044\1983766633.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df['Standardized Full Name'] = df['Full Name'].apply(standardize_contacts_full_name)

## Run Find Duplicates Funcion

In [11]:
frame_phone_column_name = os.getenv('phone_number_column_name')
street_address_column_name = os.getenv('street_address_column_name')
mobile_phone_number_column_name = os.getenv('mobile_phone_number_column_name')

In [12]:
street, no_duplicates_frame = find_duplicate_contacts_by_specified_fields(df,
                                                                        full_name_field = full_name_column,
                                                                        street_address_column_name = street_address_column_name)

[]

C:\Users\Andres Garcia Bayona\Documents\Github\PyDev-Operational-Library-For-Data-Engineers\functions\manage_duplicates\find_duplicate_contacts_by_specified_fields.py:100: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  frame_data['Standardized Address'] = frame_data[street_address_column_name].apply(standarize_street_address)

In [13]:
len(street)

0

In [14]:
street

Empty DataFrame
Columns: [Record ID, First Name, Last Name, Annual Revenue, Attack, Average Pageviews, Buying Role, Campaign of last booking in meetings tool, Checkbox, City, city_found, Close Date, Company Name, Company size, Contact owner, Contact priority, Contact unworked, country_found, Country/Region, Country/Region Code, Create Date, Created by user ID, Cumulative time in "Customer (Lifecycle Stage Pipeline)" (HH:mm:ss), Cumulative time in "Evangelist (Lifecycle Stage Pipeline)" (HH:mm:ss), Cumulative time in "Lead (Lifecycle Stage Pipeline)" (HH:mm:ss), Cumulative time in "Marketing Qualified Lead (Lifecycle Stage Pipeline)" (HH:mm:ss), Cumulative time in "Opportunity (Lifecycle Stage Pipeline)" (HH:mm:ss), Cumulative time in "Other (Lifecycle Stage Pipeline)" (HH:mm:ss), Cumulative time in "Sales Qualified Lead (Lifecycle Stage Pipeline)" (HH:mm:ss), Cumulative time in "Subscriber (Lifecycle Stage Pipeline)" (HH:mm:ss), Currently in Sequence, Date entered "Customer (Lifecycle Stage Pipeline)", Date entered "Evangelist (Lifecycle Stage Pipeline)", Date entered "Lead (Lifecycle Stage Pipeline)", Date entered "Marketing Qualified Lead (Lifecycle Stage Pipeline)", Date entered "Opportunity (Lifecycle Stage Pipeline)", Date entered "Other (Lifecycle Stage Pipeline)", Date entered "Sales Qualified Lead (Lifecycle Stage Pipeline)", Date entered "Subscriber (Lifecycle Stage Pipeline)", Date exited "Customer (Lifecycle Stage Pipeline)", Date exited "Evangelist (Lifecycle Stage Pipeline)", Date exited "Lead (Lifecycle Stage Pipeline)", Date exited "Marketing Qualified Lead (Lifecycle Stage Pipeline)", Date exited "Opportunity (Lifecycle Stage Pipeline)", Date exited "Other (Lifecycle Stage Pipeline)", Date exited "Sales Qualified Lead (Lifecycle Stage Pipeline)", Date exited "Subscriber (Lifecycle Stage Pipeline)", Date of birth, Date of first engagement, Date of last meeting booked in meetings tool, Days To Close, Defense, Degree, Description of first engagement, Domain to which registration email was sent, Email, Email address automated quarantine reason, Email address quarantine reason, Email Address Quarantined, Email Confirmed, Email Domain, Email hard bounce reason, Employment Role, Employment Seniority, Employment Sub Role, Enriched Email Bounce Detected, Enrichment opt out, Enrichment opt out timestamp, Event Revenue, Extension, Facebook click id, Fax Number, Field of study, First Closed Order ID, First Conversion, First Conversion Date, First Deal Created Date, First marketing email click date, First marketing email open date, First marketing email reply date, First marketing email send date, First Order Closed Date, First Page Seen, First Referring Site, First Touch Converting Campaign, Gender, Google ad click id, Graduation date, Has been enriched, HP, HubSpot Score, HubSpot Team, ID of first engagement, Industry, Inferred Language Codes, Invalid email address, IP City, IP Country, IP Country Code, IP State Code/Region Code, ...]
Index: []

[0 rows x 257 columns]

In [15]:
street['Street Address']

Series([], Name: Street Address, dtype: object)

In [16]:
phone, no_duplicates_frame = find_duplicate_contacts_by_name_and_phone(df,
                                                                       frame_full_name_column_name = full_name_column,
                                                                       frame_phone_column_name = frame_phone_column_name)

C:\Users\Andres Garcia Bayona\Documents\Github\PyDev-Operational-Library-For-Data-Engineers\functions\manage_duplicates\find_duplicate_contacts_by_name_and_phone.py:43: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  frame_data['Standardized Phone Number'] = frame_data[frame_phone_column_name].apply(standardize_phone)
C:\Users\Andres Garcia Bayona\Documents\Github\PyDev-Operational-Library-For-Data-Engineers\functions\manage_duplicates\find_duplicate_contacts_by_name_and_phone.py:59: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  duplicates_frame["Key"] = frame_data['Standardized Full Name'] + frame_data['Standardized Phone Number']

In [17]:
len(phone)

113

In [18]:
phone

,Record ID,First Name,Last Name,Annual Revenue,Attack,Average Pageviews,Buying Role,Campaign of last booking in meetings tool,Checkbox,City,...,Unsubscribed from all email,Updated by user ID,Website URL,WhatsApp Phone Number,Work email,Additional email addresses,Full Name,Standardized Full Name,Standardized Phone Number,Key
2459,132924337805,Tyson,Newman,,,0.0,,,Yes,,...,,Andres Eduardo Garcia Bayona,,,,,Tyson Newman,tysonnewman,6835027381,tysonnewman6835027381
317,132924473401,Tyson,Newman,,,0.0,,,Yes,,...,,Andres Eduardo Garcia Bayona,,,,,Tyson Newman,tysonnewman,6835027381,tysonnewman6835027381
6607,132915056185,Tyson,Newman,,,0.0,,,Yes,,...,,Andres Eduardo Garcia Bayona,,,,,Tyson Newman,tysonnewman,6835027381,tysonnewman6835027381
561,132916656022,Sebastian,Parker,,,0.0,,,Yes,,...,,Andres Eduardo Garcia Bayona,,,,,Sebastian Parker,sebastianparker,5517227040,sebastianparker5517227040
286,132911795531,Sebastian,Parker,,,0.0,,,Yes,,...,,Andres Eduardo Garcia Bayona,,,,,Sebastian Parker,sebastianparker,5517227040,sebastianparker5517227040
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6620,132911703138,Anthony,Sinclair,,,0.0,,,Yes,,...,,Andres Eduardo Garcia Bayona,,,,,Anthony Sinclair,anthonysinclair,3505033457,anthonysinclair3505033457
6766,132915666010,Anthony,Sinclair,,,0.0,,,Yes,,...,,Andres Eduardo Garcia Bayona,,,,,Anthony Sinclair,anthonysinclair,3505033457,anthonysinclair3505033457
9,132922326685,Anthony,Sinclair,,,0.0,,,Yes,,...,,Andres Eduardo Garcia Bayona,,,,,Anthony Sinclair,anthonysinclair,3505033457,anthonysinclair3505033457
823,132911299715,Alan,Warner,,,0.0,,,Yes,,...,,Andres Eduardo Garcia Bayona,,,,,Alan Warner,alanwarner,7260282170,alanwarner7260282170
524,132910823976,Alan,Warner,,,0.0,,,Yes,,...,,Andres Eduardo Garcia Bayona,,,,,Alan Warner,alanwarner,7260282170,alanwarner7260282170

# Add HubSpot Records View and Save Duplicates Frame

In [19]:
def link_to_view_record(record_id):
    
    account_id = os.getenv('account_id') ## Change this according your account
    record_id = str(int(record_id))
    
    record_view = 'https://app.hubspot.com/contacts/{}/record/0-1/{}'.format(account_id, record_id)
    
    return record_view

In [20]:
add_hubspot_records_view = os.getenv('add_hubspot_records_view')

In [21]:
names = [street_address_column_name,frame_phone_column_name]

In [22]:
for dataframe, name in zip([street, phone],names):
    if add_hubspot_records_view == 'Yes':
        dataframe['Record View'] = dataframe['Record ID'].apply(link_to_view_record)
    else:
        pass

    dataframe[['Record ID', 'First Name', 'Last Name', 'Email',
                                         frame_phone_column_name, street_address_column_name, 
                                         'Record View', 'Key']].to_excel(file_path+r'\Duplicate Contact Records Found by {}.xlsx'.format(name))

    print(len(dataframe), 'Duplicated Records Found')

0 Duplicated Records Found
113 Duplicated Records Found

C:\Users\Andres Garcia Bayona\AppData\Local\Temp\ipykernel_10044\2840681676.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  dataframe['Record View'] = dataframe['Record ID'].apply(link_to_view_record)

# If few duplicates are found with the previous methods, ask the strategies if the following strategies sound good

### Email domain (Same name and same email domain, mostly for same companies, but might mark as duplicates people with the same name within the same company)

In [23]:
excluded_domains = ['gmail.com','yahoo.com','aol.com','hotmail.com','icloud.com','comcast.net','msn.com','outlook.com']

In [24]:
df['Email domain key'] = df['Standardized Full Name']+df['Email Domain']

C:\Users\Andres Garcia Bayona\AppData\Local\Temp\ipykernel_10044\649866337.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df['Email domain key'] = df['Standardized Full Name']+df['Email Domain']

In [25]:
df[df.duplicated(subset=['Email Domain','Email domain key'],keep=False)&(df['Standardized Full Name']!='')&(~df['Email Domain'].isin(excluded_domains))&(df['Email Domain']!='')][['Record ID', 'First Name', 'Last Name',frame_phone_column_name, 'Email', street_address_column_name,'Email domain key']].sort_values('Email domain key').to_excel(file_path+'\\Duplicate contacts by name and email domain.xlsx',index=False)

# Without info (This is useful when there's a lot of contacts without information)

### This generates a dataframe whose name is duplicated but have information, at least one of email, street address or phone number

In [26]:
with_info = df[(df.duplicated(subset='Standardized Full Name',keep=False))&(df['Standardized Full Name']!='')&((df['Email']!='')|(df['Street Address']!='')|(df['Phone Number']!=''))]

### This generates a dataframe that don't have information but that could be merged into a contact with information

In [27]:
no_info = df[(df['Email']!='')&(df.duplicated(subset='Standardized Full Name',keep=False))&(df['Street Address']=='')&(df['Phone Number']=='')&((df['Standardized Full Name'].isin(with_info['Standardized Full Name'])))]

In [28]:
no_info[['Record ID', 'First Name', 'Last Name', 'Email',
                                         frame_phone_column_name, 'Email', street_address_column_name, 
                                         'Standardized Full Name']]#.to_excel(file_path+'\\'+'Contacts duplicated by name with but no phone or address.xlsx',index=False)

Empty DataFrame
Columns: [Record ID, First Name, Last Name, Email, Phone Number, Email, Street Address, Standardized Full Name]
Index: []

In [29]:
with_info[['Record ID', 'First Name', 'Last Name', 'Email',
                                         frame_phone_column_name, 'Email', street_address_column_name, 
                                         'Standardized Full Name']]#.to_excel(file_path+'\\'+'Contacts that could be main contacts for duplicates without information.xlsx',index=False)

,Record ID,First Name,Last Name,Email,Phone Number,Email,Street Address,Standardized Full Name
0,132923444151,Brad,Turner,brad_turner714061428+101@bretoux.com,+(44)7012 324125,brad_turner714061428+101@bretoux.com,"Dyott Alley, 6300",bradturner
1,132898965405,Leroy,Dwyer,leroy_dwyer505528803@brety.org,+(353)2004 788350,leroy_dwyer505528803@brety.org,"Cavell Street, 7744",leroydwyer
2,132916082279,Rufus,Reynolds,rufus_reynolds134700300@acrit.org,+(353)5163 616587,rufus_reynolds134700300@acrit.org,"Arlington Walk, 6399",rufusreynolds
3,132921966191,Daniel,Owen,daniel_owen1303681224+103@fuliss.net,,daniel_owen1303681224+103@fuliss.net,"Falconberg Route, 2146",danielowen
4,132919956831,Tyler,Egerton,tyler_egerton1736440365@liret.org,+(44)2423 307165,tyler_egerton1736440365@liret.org,"Bempton Drive, 5080",tyleregerton
...,...,...,...,...,...,...,...,...
6927,132924205089,Bart,Marshall,bart_marshall1615503686@eirey.tech,+(44)2540 505636,bart_marshall1615503686@eirey.tech,"Endsleigh Road, 5909",bartmarshall
6930,132910908048,Abdul,Stewart,abdul_stewart945145331@deavo.com,+(353)3525 007726,abdul_stewart945145331@deavo.com,"Cave Hill, 7549",abdulstewart
6932,132923017634,Abdul,Graves,abdul_graves300779932@vetan.org,+(44)3234 436060,abdul_graves300779932@vetan.org,"Fawn Crossroad, 1481",abdulgraves
6933,132914893622,Ada,Robinson,ada_robinson9305370@ubusive.com,+(353)5507 734616,ada_robinson9305370@ubusive.com,"Camdale Avenue, 5737",adarobinson
6935,132911173722,Rocco,Palmer,,+(44)2813 405223,,"Sherwood Vale, 7152",roccopalmer

In [30]:
df[(df['Email']=='')&(df['Street Address']=='')&(df['Phone Number']=='')]#.to_excel(file_path+'\\Contacts without street address, email or phone number.xlsx',index=False)

Empty DataFrame
Columns: [Record ID, First Name, Last Name, Annual Revenue, Attack, Average Pageviews, Buying Role, Campaign of last booking in meetings tool, Checkbox, City, city_found, Close Date, Company Name, Company size, Contact owner, Contact priority, Contact unworked, country_found, Country/Region, Country/Region Code, Create Date, Created by user ID, Cumulative time in "Customer (Lifecycle Stage Pipeline)" (HH:mm:ss), Cumulative time in "Evangelist (Lifecycle Stage Pipeline)" (HH:mm:ss), Cumulative time in "Lead (Lifecycle Stage Pipeline)" (HH:mm:ss), Cumulative time in "Marketing Qualified Lead (Lifecycle Stage Pipeline)" (HH:mm:ss), Cumulative time in "Opportunity (Lifecycle Stage Pipeline)" (HH:mm:ss), Cumulative time in "Other (Lifecycle Stage Pipeline)" (HH:mm:ss), Cumulative time in "Sales Qualified Lead (Lifecycle Stage Pipeline)" (HH:mm:ss), Cumulative time in "Subscriber (Lifecycle Stage Pipeline)" (HH:mm:ss), Currently in Sequence, Date entered "Customer (Lifecycle Stage Pipeline)", Date entered "Evangelist (Lifecycle Stage Pipeline)", Date entered "Lead (Lifecycle Stage Pipeline)", Date entered "Marketing Qualified Lead (Lifecycle Stage Pipeline)", Date entered "Opportunity (Lifecycle Stage Pipeline)", Date entered "Other (Lifecycle Stage Pipeline)", Date entered "Sales Qualified Lead (Lifecycle Stage Pipeline)", Date entered "Subscriber (Lifecycle Stage Pipeline)", Date exited "Customer (Lifecycle Stage Pipeline)", Date exited "Evangelist (Lifecycle Stage Pipeline)", Date exited "Lead (Lifecycle Stage Pipeline)", Date exited "Marketing Qualified Lead (Lifecycle Stage Pipeline)", Date exited "Opportunity (Lifecycle Stage Pipeline)", Date exited "Other (Lifecycle Stage Pipeline)", Date exited "Sales Qualified Lead (Lifecycle Stage Pipeline)", Date exited "Subscriber (Lifecycle Stage Pipeline)", Date of birth, Date of first engagement, Date of last meeting booked in meetings tool, Days To Close, Defense, Degree, Description of first engagement, Domain to which registration email was sent, Email, Email address automated quarantine reason, Email address quarantine reason, Email Address Quarantined, Email Confirmed, Email Domain, Email hard bounce reason, Employment Role, Employment Seniority, Employment Sub Role, Enriched Email Bounce Detected, Enrichment opt out, Enrichment opt out timestamp, Event Revenue, Extension, Facebook click id, Fax Number, Field of study, First Closed Order ID, First Conversion, First Conversion Date, First Deal Created Date, First marketing email click date, First marketing email open date, First marketing email reply date, First marketing email send date, First Order Closed Date, First Page Seen, First Referring Site, First Touch Converting Campaign, Gender, Google ad click id, Graduation date, Has been enriched, HP, HubSpot Score, HubSpot Team, ID of first engagement, Industry, Inferred Language Codes, Invalid email address, IP City, IP Country, IP Country Code, IP State Code/Region Code, ...]
Index: []

[0 rows x 256 columns]